[Unit]
Description=Stratux
After=network.target

[Service]
ExecStart=/usr/bin/gen_gdl90
ExecStop=/usr/bin/killall dump1090 ogn-rx-eu
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
